<div class="center jumbotron">
 <h1>Welcome to the One Minute!!</h1>

 <h4>This is the Application for the person who is learing language!<br/> You can try how much you have your own language skill.<br/> And find your problem by sharing your Diary!! Let's get started!!<br/>

 <%= link_to "Sign up now!",signup_path,class: "btn btn-lg btn-primary" %>
</div>