<% provide(:title, "New") %>
<h2>Today's diary</h2>
<%= form_for(@daybook) do |f| %>
<h4>title</h4>
<%= f.text_field :title %>
<h4>content</h4>
<%= f.text_area :body %>
<input type="submit" name="commit" value="Create Diary" class="btn btn-primary col-xs-10"=Create Diary />
<% end %>